$gutter-width: 16px;
$outer-margin: 32px;
$gutter-compensation: calc(($gutter-width * 0.5) * -1);
$half-gutter-width: calc(($gutter-width * 0.5));
$xs-min: 0rem;
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$columnsNumber: 12;
$smViewport: "only screen and (min-width: #{$sm-min})";
$mdViewport: "only screen and (min-width: #{$md-min})";
$lgViewport: "only screen and (min-width: #{$lg-min})";
$xlViewport: "only screen and (min-width: #{$xl-min})";
$xsOnly: "only screen and (max-width: #{$sm-min - 1})";
$smOnly: "only screen and (min-width: #{$sm-min}) and (max-width: #{$md-min - 1})";
$mdOnly: "only screen and (min-width: #{$md-min}) and (max-width: #{$lg-min - 1})";
$lgOnly: "only screen and (min-width: #{$lg-min}) and (max-width: #{$xl-min - 1})";
$xlOnly: "only screen and (min-width: #{$xl-min})";
.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}

.container-fluid {
  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

@mixin basic-column {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 100%;
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
  max-width: 100%;
}

@for $i from 1 through $columnsNumber {
  .col-xs-#{$i} {
    @include basic-column();
    flex-basis: ($i * 100% / $columnsNumber);
    max-width: ($i * 100% / $columnsNumber);
  }
  .col-xs-offset-#{$i} {
    margin-left: ($i * 100% / $columnsNumber);
  }
}

@mixin auto-column {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

@mixin start {
  justify-content: flex-start;
  text-align: start;
}

.col-xs {
  @include auto-column();
}

.start-xs {
  @include start();
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

.initial-order-xs {
  order: initial;
}

@media #{$smViewport} {
  .container {
    width: calc($sm-min - $gutter-width);
    max-width: 100%;
  }
  .col-sm {
    @include basic-column();
    @include auto-column();
  }
  @for $i from 1 through $columnsNumber {
    .col-sm-#{$i} {
      @include basic-column();
      flex-basis: ($i * 100% / $columnsNumber);
      max-width: ($i * 100% / $columnsNumber);
    }
    .col-sm-offset-#{$i - 1} {
      @include basic-column();
      margin-left: (($i - 1) * 100% / $columnsNumber);
    }
  }
  .start-sm {
    @include start();
  }
  .center-sm {
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    align-items: flex-start;
  }
  .middle-sm {
    align-items: center;
  }
  .bottom-sm {
    align-items: flex-end;
  }
  .around-sm {
    justify-content: space-around;
  }
  .between-sm {
    justify-content: space-between;
  }
  .first-sm {
    order: -1;
  }
  .last-sm {
    order: 1;
  }
  .initial-order-sm {
    order: initial;
  }
}

@media #{$mdViewport} {
  .container {
    width: calc($md-min - $gutter-width);
    max-width: 100%;
  }
  .col-md {
    @include basic-column();
    @include auto-column();
  }
  @for $i from 1 through $columnsNumber {
    .col-md-#{$i} {
      @include basic-column();
      flex-basis: ($i * 100% / $columnsNumber);
      max-width: ($i * 100% / $columnsNumber);
    }
    .col-md-offset-#{$i - 1} {
      @include basic-column();
      margin-left: (($i - 1) * 100% / $columnsNumber);
    }
  }
  .start-md {
    @include start();
  }
  .center-md {
    justify-content: center;
    text-align: center;
  }
  .end-md {
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    align-items: flex-start;
  }
  .middle-md {
    align-items: center;
  }
  .bottom-md {
    align-items: flex-end;
  }
  .around-md {
    justify-content: space-around;
  }
  .between-md {
    justify-content: space-between;
  }
  .first-md {
    order: -1;
  }
  .last-md {
    order: 1;
  }
  .initial-order-md {
    order: initial;
  }
}

@media #{$lgViewport} {
  .container {
    width: calc($lg-min - $gutter-width);
    max-width: 100%;
  }
  .col-lg {
    @include basic-column();
    @include auto-column();
  }
  @for $i from 1 through $columnsNumber {
    .col-lg-#{$i} {
      @include basic-column();
      flex-basis: ($i * 100% / $columnsNumber);
      max-width: ($i * 100% / $columnsNumber);
    }
    .col-lg-offset-#{$i - 1} {
      @include basic-column();
      margin-left: (($i - 1) * 100% / $columnsNumber);
    }
  }
  .start-lg {
    @include start();
  }
  .center-lg {
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    align-items: flex-start;
  }
  .middle-lg {
    align-items: center;
  }
  .bottom-lg {
    align-items: flex-end;
  }
  .around-lg {
    justify-content: space-around;
  }
  .between-lg {
    justify-content: space-between;
  }
  .first-lg {
    order: -1;
  }
  .last-lg {
    order: 1;
  }
  .initial-order-lg {
    order: initial;
  }
}

@media #{$xlViewport} {
  .container {
    width: calc($xl-min - $gutter-width);
    max-width: 100%;
  }
  .col-xl {
    @include basic-column();
    @include auto-column();
  }
  @for $i from 1 through $columnsNumber {
    .col-xl-#{$i} {
      @include basic-column();
      flex-basis: ($i * 100% / $columnsNumber);
      max-width: ($i * 100% / $columnsNumber);
    }
    .col-xl-offset-#{$i - 1} {
      @include basic-column();
      margin-left: (($i - 1) * 100% / $columnsNumber);
    }
  }
  .start-xl {
    @include start();
  }
  .center-xl {
    justify-content: center;
    text-align: center;
  }
  .end-xl {
    justify-content: flex-end;
    text-align: end;
  }
  .top-xl {
    align-items: flex-start;
  }
  .middle-xl {
    align-items: center;
  }
  .bottom-xl {
    align-items: flex-end;
  }
  .around-xl {
    justify-content: space-around;
  }
  .between-xl {
    justify-content: space-between;
  }
  .first-xl {
    order: -1;
  }
  .last-xl {
    order: 1;
  }
  .initial-order-xl {
    order: initial;
  }
}

@media #{$xsOnly} {
  .hidden-xs {
    display: none;
  }
}

@media #{$smOnly} {
  .hidden-sm {
    display: none;
  }
}

@media #{$mdOnly} {
  .hidden-md {
    display: none;
  }
}

@media #{$lgOnly} {
  .hidden-lg {
    display: none;
  }
}

@media #{$xlOnly} {
  .hidden-xl {
    display: none;
  }
}